*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: sans-serif;
    color: blueviolet;
}

.holaMundo{
    background-color: antiquewhite;
    text-align: center;
    max-width: 650px;
    margin: 15px auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex img{
    padding: 5px
}

.holaMundo:hover{
    background-color: aquamarine;
    transition: .3s;
}

h1:hover{
    color: grey;
    transform: skew(-15deg);
    transition: .3s;
}


/* Mobile last */
@media (max-width: 650px){
    .holaMundo{
        background-color: darkcyan;
    }
    h1{
        color: aquamarine;
    }
    p{
        color: aliceblue;
    }
}

